@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Arimo', sans-serif;
  width: 100%;
  height: 100vh;
  background: #121213;
  display: grid;
  place-items: center;
}

header{
  width: 85%;
  height: 95%;
  /* border: 1px solid #fff; */
  display: flex;
  flex-wrap: wrap;
}

header .left-sidebar,
header .main-content {
  width: 25%;
  height: 90%;
  /* border: 1px solid #fff; */
  background: #170412;
  color: #ffff;
}

header .left-sidebar {
  width: 25%;
  box-shadow: 5px 0px 2px #090f1f;
}

header .main-content{
  width: 75%;
  background: #10040c;
}

header .footer{
  width: 100%;
  height: 10%;
  /* border: 1px solid #fff; */
  background: #170412;
  box-shadow: 0px -3px 8px #090f1f;
;

}

header .left-sidebar h1 {
  font-size: 20px;
  color: #F01F86;
  margin: 15px 0px 20px 20px;
  font-weight: 600;
}

.logo-box {
  text-align: center;
  margin-bottom: 30px;
}

.logo {
  width: 40px;
  height: auto;
}


.library-icon {
  width: 20px;
  height: auto;
  opacity: 0.8;
}