@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Arimo', sans-serif;
  width: 100%;
  height: 100vh;
  background: #121213;
  display: grid;
  place-items: center;
}

header{
  width: 85%;
  height: 95%;
  /* border: 1px solid #fff; */
  display: flex;
  flex-wrap: wrap;
}

header .left-sidebar,
header .main-content {
  width: 25%;
  height: 90%;
  /* border: 1px solid #fff; */
  background: #170412;
  color: #ffff;
}

header .left-sidebar {
  width: 25%;
  box-shadow: 5px 0px 2px #090f1f;
}

header .main-content{
  width: 75%;
  background: #10040c;
}

header .footer{
  width: 100%;
  height: 10%;
  /* border: 1px solid #fff; */
  background: #170412;
  box-shadow: 0px -3px 8px #090f1f;
;

}

header .left-sidebar h1 {
  font-size: 20px;
  color: #F01F86;
  margin: 15px 0px 20px 20px;
  font-weight: 600;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 15px;
}

.brand-logo {
  width: 25px;
  height: auto;
}

.brand-name {
  font-size: 20px;
  font-weight: 600;
  color: #F01F86;
}

.library-icon {
  width: 20px;
  height: auto;
  opacity: 0.8;
}

header .left-sidebar .menu {
  margin: 40px 0px 0px 20px;
}

header .left-sidebar .menu h4 {
  font-size: 16px; 
  font-weight: 400;
  padding-bottom: 30px;
  color: #4c5262;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: linear;
  transition-duration: 0.5s;
}

header .left-sidebar .menu h4:hover {
  color: #fff;
}

header .left-sidebar .menu h4 span {
  position: relative;
  margin-right: 35px;
}

header .left-sidebar .menu h4 span::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border: 1px solid #4c5262;
  border-radius: 10px;
  top: -4px;
  transition: .3s linear;
}

header .left-sidebar .menu h4:hover span::before {
  border: 1px, solid, #e08fb7;
}

header .left-sidebar .menu h4 .bi {
  display: none;
}

header .left-sidebar .menu h4.active {
  color: #e08fb7;
}

header .left-sidebar .menu h4.active span {
  display: none;
}

header .left-sidebar .menu .active .bi {
  display: flex;
  margin-right: 20px;
}

header .left-sidebar .menu_song {
  width: 100%;
  height: 420px;
  border: 0.4px solid #fff;
  margin-top: 40px;
  overflow: auto;
}

header .left-sidebar .menu_song::-webkit-scrollbar {
  display: none;
}

header .left-sidebar .menu_song::-webkit-scrollbar-thumb {
  background: #4c5262;
  border-radius: 5px;
}

header .left-sidebar .menu_song li {
  list-style-type: none;
  position: relative;
  padding-left: 5px 0px 5px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: .3s linear;
}

header .left-sidebar .menu_song li:hover {
  background: #281a22;
  opacity: .1;
}

header .left-sidebar .menu_song li span {
  font-size: 12px;
  font-weight: 600;
  color: #4c5262
}

header .left-sidebar .menu_song li img {
  width: 30px;
  height: 30px;
  margin-left: 25px;
}

header .left-sidebar .menu_song li h5 {
  font-size: 11px;
  margin-left: 15px;
  width: 170px;
  border: 1px solid #fff;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

header .left-sidebar .menu_song li h5 .subtitle {
  font-size: 9px;
  color: #4c5262;
}

header .left-sidebar .menu_song li .bi {
  position: absolute;
  right: 15px;
}

header .footer{
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

header .master .wave {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  padding-bottom: 5px;
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
}

header .master .wave .wave1{
  width: 3px;
  height: 10px;
  background: #fb78ba;
  margin-right: 3px;
  border-radius: 10px 10px 0px 0px;
  animation: unset;
}

header .master .wave .wave1:nth-child(2){
  height: 13px;
  margin-right: 3.5px;
  animation-delay: 0.4s;
}

header .master .wave .wave1:nth-child(3){
  height: 8px;
  animation-delay: 0.8s;
}

/* javascript classes */
header .master .active1 .wave1{
  height: 8px;
  animation-delay: 0.8s;
}

header .master .wave .wave1:nth-child(2){
  height: 13px;
  margin-right: 3.5px;
  animation-delay: 0.4s;
}

header .master .wave .wave1:nth-child(3){
  height: 8px;
  animation-delay: 0.8s;
}
@keyframes wave {
  0% {
    height: 10px;
  }
  50% {
    height: 15px;
  }
  100% {
    height: 10px;
  }
  
} 