@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100vh;
  background: #121213;
  display: grid;
  place-items: center;
}

header{
  width: 85%;
  height: 95%;
  /* border: 1px solid #fff; */
  display: flex;
  flex-wrap: wrap;
}

header .left-sidebar,
header .main-content {
  width: 25%;
  height: 90%;
  /* border: 1px solid #fff; */
  background: #170412;
  box-shadow: 5px 0px 2px #090f1f;
  color: #ffff;
}

header .main-content{
  width: 75%;
  background: #10040c;
}

header .footer{
  width: 100%;
  height: 10%;
  /* border: 1px solid #fff; */
  background: #170412;
  box-shadow: 0px 3px 8px #090f1f;
}

header .left-sidebar h1 {
  font-size: 20px;
  color: #F01F86;
  margin: 15px 0px px 20px;
  font-weight: 500;
}

