@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Arimo', sans-serif;
  width: 100%;
  height: 100vh;
  background: #121213;
  display: grid;
  place-items: center;
}

header{
  width: 85%;
  height: 95%;
  /* border: 1px solid #fff; */
  display: flex;
  flex-wrap: wrap;
}

header .left-sidebar,
header .main-content {
  width: 25%;
  height: 90%;
  /* border: 1px solid #fff; */
  background: #170412;
  color: #ffff;
}

header .left-sidebar {
  width: 25%;
  box-shadow: 5px 0px 2px #090f1f;
}

header .main-content{
  width: 75%;
  background: #10040c;
}

header .footer{
  width: 100%;
  height: 10%;
  /* border: 1px solid #fff; */
  background: #170412;
  box-shadow: 0px -3px 8px #090f1f;
;

}

header .left-sidebar h1 {
  font-size: 20px;
  color: #F01F86;
  margin: 15px 0px 20px 20px;
  font-weight: 600;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 15px;
}

.brand-logo {
  width: 25px;
  height: auto;
}

.brand-name {
  font-size: 20px;
  font-weight: 600;
  color: #F01F86;
}

.library-icon {
  width: 20px;
  height: auto;
  opacity: 0.8;
}

header .left-sidebar .menu {
  margin: 40px 0px 0px 20px;
}

header .left-sidebar .menu h4 {
  font-size: 16px; 
  font-weight: 400;
  padding-bottom: 30px;
  color: #4c5262;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: linear;
  transition-duration: 0.5s;
}

header .left-sidebar .menu h4:hover {
  color: #fff;
  font-size:19px;
}

